<?xml version="1.0"?>
<launch>
  <arg name = "add_eef" default= "true"/>
  <arg name = "eef_filename" default="new_pen_holder.stl"/>
  <arg name = "tcp_offset_xyz" default = "'0.1906 0 -0.086 '"/>
  <arg name = "tcp_offset_rpy" default = "'0 0.523599 0'"/>
  <arg name = "sim" default = "false"/>
  <arg name = "realsense_camera" default = "false"/>
  <arg name = "load_scene" default = "true"/>
  <arg name = "scene_filename" default = "dfab_irb_default.scene"/>
  <arg name = "construct_octomap" default = "false"/>
  <arg name = "load_octomap" default = "false"/>
  <arg name = "octomap_filename" default = "irb120_workspace_0025"/>
  <arg name = "enable_realsense" default = "false"/>


  <!-- init irb120 ros controller with customized end-effector -->
  <include file="$(find abb_irb120_moveit_config)/launch/dfab_irb120_tool_customization.launch">
    <arg name="add_eef" value="$(arg add_eef)" />
    <arg name="eef_filename" value="$(arg eef_filename)" />
    <arg name="tcp_offset_xyz" value="$(arg tcp_offset_xyz)" />
    <arg name="tcp_offset_rpy" value="$(arg tcp_offset_rpy)" />
    <arg name="realsense_camera" value="$(arg realsense_camera)" />
    <arg name="sim" value="$(arg sim)" />
  </include>

  <!-- <group unless="$(arg sim)">
    <include file="$(find abb_robot_bringup_examples)/launch/ex1_rws_only.launch">
      <arg name="robot_ip" value="192.168.125.1" />
    </include>
  </group> -->


  <!-- To load a simple geometry scene(xxx.scene) -->
  <group if="$(arg load_scene)">
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "/home/vina/Documents/multi_robot/$(arg scene_filename)"/>
  </group>

  <!-- To load a pre-existing octomap -->
  <group if="$(arg load_octomap)">
    <node name="load_map" pkg="moveit_ros_move_group" type="load_map" args="$(arg octomap_filename)" output="screen"/>
  </group>

  
  <!-- init grasshopper connection with rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <include file="$(find file_server)/launch/file_server.launch" />

  <!-- init itar grasshopper moveit interface -->
  <!-- <include file="$(find moveit_tutorials)/doc/move_group_python_interface/launch/itar_moveit_interface.launch" /> -->
  <!-- <node name="itar_movegroup_interface" pkg="dfab_launch" type="ITAR_basic_template_IRB120.py" respawn="false" output="screen">
  </node> -->

  <group if="$(arg enable_realsense)">
    <node pkg="tf" type="static_transform_publisher" name="holder_to_realsense"
      args="0.0106 0.0175 0.0125 0  0 0 /realsense_lens /camera_link 50" />
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="enable_pointcloud" value="true"/>
      <arg name="enable_sync" value="true"/>
      <arg name="align_depth" value="true"/>   
      <arg name="filters" value="pointcloud"/>
    </include>
  </group>

  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_transform"
      args="0.5 0.5 0.5 1.5708 0 0 /link_6 /test_transformer 50" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_transform"
      args="0.5 0.5 0.5 0.5 -0.5 0.683013 0.183013  /link_6 /test_transformer 50" /> -->

  <!-- <include file="$(find pc2_pcl)/launch/pcl_service.launch"/> -->

    
</launch>